extends layout

block content
	div.candidate-info
		span #{candidateInfo.Phone}  
		span #{candidateInfo.Email}
	div.candidate-tabs
		if (locals.hasFinancialCommittee.length > 0)
			ul.nav.nav-tabs
				li.active
					a(data-toggle="tab", href="#races") Races		
				li
					a(data-toggle="tab", href="#contributions") Contributions
		else
			ul.nav.nav-tabs
				li.active
					a(data-toggle="tab", href="#races") Races
		if (locals.hasFinancialCommittee.length> 0)			
			div.tab-content
				div#races.tab-pane.fade.in.active		
					- if(locals.mayorRaceInfo.length > 0)
						h4 Mayor	
						each race, i in mayorRaceInfo
							row
							p #{mayorRaceInfo[i].Date}
							p #{mayorRaceInfo[i].City} 
								span #{mayorRaceInfo[i].Seat}
							if(mayorRaceInfo[i].FPTP_Votes_Total)
								p Total Votes:
								span #{mayorRaceInfo[i].FPTP_Votes_Total}
								p Percentage of Popular Vote: 
								span #{mayorRaceInfo[i].FPTP_Votes_Percentage}
							else
								p Total First Place Votes:
								span #{mayorRaceInfo[i].RC_First_Place_Votes_Total}
								p Percentage First Place Vote: 
								span #{mayorRaceInfo[i].RC_First_Place_Votes_Percentage}
								p Total Second Place Votes:
								span #{mayorRaceInfo[i].RC_Second_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{mayorRaceInfo[i].RC_Second_Place_Votes_Percentage}
								p Total Third Place Votes:
								span #{mayorRaceInfo[i].RC_Third_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{mayorRaceInfo[i].RC_Third_Place_Votes_Percentage}								
					- if(locals.wardRaceInfo.length > 0)
						h4 City Council
						each race, i in wardRaceInfo
							p #{wardRaceInfo[i].Date}
							p #{wardRaceInfo[i].City} 
								span #{wardRaceInfo[i].Seat} 
								span #{wardRaceInfo[i].Ward_Name}
							if(wardRaceInfo[i].FPTP_Votes_Total)
								p Total Votes:
								span #{wardRaceInfo[i].FPTP_Votes_Total}
								p Percentage of Popular Vote: 
								span #{wardRaceInfo[i].FPTP_Votes_Percentage}
							else
								p Total First Place Votes:
								span #{wardRaceInfo[i].RC_First_Place_Votes_Total}
								p Percentage First Place Vote: 
								span #{wardRaceInfo[i].RC_First_Place_Votes_Percentage}
								p Total Second Place Votes:
								span #{wardRaceInfo[i].RC_Second_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{wardRaceInfo[i].RC_Second_Place_Votes_Percentage}
								p Total Third Place Votes:
								span #{wardRaceInfo[i].RC_Third_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{wardRaceInfo[i].RC_Third_Place_Votes_Percentage}		

				div#contributions.tab-pane.fade
					h3 MENU 1
					p#content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		else
			div.tab-content
				div#races.tab-pane.fade.in.active		
					- if(locals.mayorRaceInfo.length > 0)
						h4 Mayor	
						each race, i in mayorRaceInfo
							row
							p #{mayorRaceInfo[i].Date}
							p #{mayorRaceInfo[i].City} 
								span #{mayorRaceInfo[i].Seat}
							if(mayorRaceInfo[i].FPTP_Votes_Total)
								p Total Votes:
								span #{mayorRaceInfo[i].FPTP_Votes_Total}
								p Percentage of Popular Vote: 
								span #{mayorRaceInfo[i].FPTP_Votes_Percentage}
							else
								span Total First Place Votes: 
								span #{mayorRaceInfo[i].RC_First_Place_Votes_Total}
								br
								span Percentage First Place Vote:  
								span #{mayorRaceInfo[i].RC_First_Place_Votes_Percentage}
								p Total Second Place Votes:
								span #{mayorRaceInfo[i].RC_Second_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{mayorRaceInfo[i].RC_Second_Place_Votes_Percentage}
								p Total Third Place Votes:
								span #{mayorRaceInfo[i].RC_Third_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{mayorRaceInfo[i].RC_Third_Place_Votes_Percentage}								
					- if(locals.wardRaceInfo.length > 0)
						h4 City Council
						each race, i in wardRaceInfo
							p #{wardRaceInfo[i].Date}
							p #{wardRaceInfo[i].City} 
								span #{wardRaceInfo[i].Seat} 
								span #{wardRaceInfo[i].Ward_Name}
							if(wardRaceInfo[i].FPTP_Votes_Total)
								p Total Votes:
								span #{wardRaceInfo[i].FPTP_Votes_Total}
								p Percentage of Popular Vote: 
								span #{wardRaceInfo[i].FPTP_Votes_Percentage}
							else
								p Total First Place Votes:
								span #{wardRaceInfo[i].RC_First_Place_Votes_Total}
								p Percentage First Place Vote: 
								span #{wardRaceInfo[i].RC_First_Place_Votes_Percentage}
								p Total Second Place Votes:
								span #{wardRaceInfo[i].RC_Second_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{wardRaceInfo[i].RC_Second_Place_Votes_Percentage}
								p Total Third Place Votes:
								span #{wardRaceInfo[i].RC_Third_Place_Votes_Total}
								p Percentage Secpmd Place Vote: 
								span #{wardRaceInfo[i].RC_Third_Place_Votes_Percentage}		

	a.goBack(href="/") Back to Map

block script
	script(type='text/javascript').

